.random-planet-wrap {
  width: 100%;
  padding: 20px;
}
.planet-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.planet-details {
  margin-left: 20px;
}
.planet-details .details-list {
  margin: 0;
  padding: 0 15px;
  font-size: 15px;  
  list-style: none;
}
.planet-details .details-list li {
  font-size: 20px;
  padding: 10px 0;
  border-top: 1px solid rgba(73, 68, 68, .3);
}
.planet-name {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
}
.details-item-title {
  display: inline-block;
  margin-right: 10px;
}
.details-item-title::after {
  content: ':';
}