.item-details-wrap {
  display: inline-flex !important;
  vertical-align: top;
  width: 48%;
  margin: 20px 0 0 2%;
  padding: 20px;
}
.item-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.item-details {
  margin-left: 20px;
}
.details-list {
  margin: 0;
  padding: 0 15px;
  font-size: 15px;  
  list-style: none;
}
.details-list-item {
  font-size: 20px;
  padding: 10px 0;
  border-top: 1px solid rgba(73, 68, 68, .3);
}
.item-name {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
}
.item-title {
  display: inline-block;
  margin-right: 10px;
}
.item-title::after {
  content: ':';
}