.item-list-wrap {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  width: 48%;
  margin: 20px 0;
  overflow: hidden;
}
.item-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-item {
  font-size: 20px;
  padding: 15px 20px;
}
.list-item:hover,
.list-item:focus {
  background-color: rgba(255, 255, 255, .1);
}
.list-item + .list-item {
  border-top: 1px solid rgba(73, 68, 68, .3);
}